---
layout: default
title: Home
---

<ul class="related-posts">
{% for post in paginator.posts %}
{% assign author = site.authors[post.author] %}
<li>
  <h3>
    <a href="{{ post.url }}">
      <small>{{ post.date | date_to_string }} &mdash;</small>
      {{ post.title }}
      {% if author %}<small>&mdash; {{ author.display_name }}</small>{% endif %}
    </a>
  </h3>
</li>

{% endfor %}
</ul>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
